<?php


$loader = require_once __DIR__ . '/../vendor/autoload.php';

$propelMap = require_once __DIR__ . '/build/conf/classmap--conf.php';

foreach($propelMap as $class => $path) {
    $propelMap[$class] = __DIR__ . '/build/classes/'.$path;
}

$loader->addClassMap($propelMap);
