<h1>This page is a demo transaction page</h1>

<form action="https://secure.ogone.com/ncol/test/orderstandard.asp" method="post" target="_blank" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
